.flex-container {
    display: flex;
}
.page-header {
    flex-direction: row;
    background-color: #263238;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.page-title{
    color: #fff;
    font-size: 25px;
    float:left;
    padding: 10px;
}
.avatar{
   float:right;
}